.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 20px;
  padding: 10rem 1rem 1rem 1rem;
  overflow-y: "scroll";
  height: "500px";
}

.movie-year{
  margin-top: 10rem;
    font-size: 1.5rem;
    color: white;
    padding-left: .7em;
}