.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 20px;
  padding: 1rem 1rem 1rem 1rem;
}

.movie-year {
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
  padding-left: 0.7em;
}
.no-movies {
  color: white;
  font-style: italic;
  font-size: 1rem;
}
